.c-text {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;
}

a {
    margin-left: 8px;
}

button {
    font-family: 'Ubuntu Mono', monospace;
    padding: 9px;
    background-color: rgb(76, 76, 76);
    font-size: 20px;
    border-radius: 10px 10px;
    text-decoration: underline;
}

.react-tabs_tab-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-tabs_tab {
    margin-right: auto;
}

.extra-text {
    font-family: 'Ubuntu Mono', monospace;
    text-decoration: none;
    margin-left: auto;
    float: right ;
}
.extra-text2 {
        font-family: 'Ubuntu Mono', monospace;
        text-decoration: none;
        margin-right: auto;
}
.extra {
    text-decoration: none;
    height: auto;
    margin: auto;
    margin-top: 1px;
    float: right;
}

.extra1 {
    text-decoration: none;
    height: auto;
    margin: auto;
    background-color: rgb(77, 77, 77);
    margin-top: 1px;
    float: right;
}
.extra:hover {
    background-color: red;
} 
.tab-head {
    font-family: 'Ubuntu Mono', monospace;
}
.c-text {
    font-size: 25px;
    font-family: 'Ubuntu Mono', monospace;
}
.text1 {
    color:black
}
.extra1 {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.t-box {
    border: 1px soild white;
}
.extra-text2 {
    margin-left: 1%;
}

.e1:hover {
    background-color: red;
    color:white
}
@media only screen and (max-width: 600px)  {
    .c-text {
        font-size: 12px;
    }
    button {
        font-size: 12px;
    }
    .tab-p {
        font-size: 12px;
    }
    .react-tabs_tab {
       font-size: 12px;
    }
    .line-text {
        width: 100%;
        
    }
    .c-box {
        margin-top: 3%;
    }
    .extra1 {
        width: 100%;
        font-size: 14px;
    }
}